<ion-content>
  <!-- component -->
  <div class="bg-gray-50 min-h-screen flex flex-col">
    <div class="container max-w-2xl mx-auto flex-1 flex flex-col items-center justify-center px-2">
      <div class="bg-white px-8 py-6 rounded shadow-md text-black w-full">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Crea tu cuenta</h2>
        <form class=" pt-6 pb-8 mb-4 bg-white rounded" #form="ngForm" (ngSubmit)="register(form)">
          <div class="md:flex">
            <div class="md:mr-2 md:mb-0 md:w-1/2 w-full mb-4">
              <label class="block mb-2 text-sm font-bold text-gray-700" for="firstName">
                Nombre
              </label>
              <input
                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                id="firstName" type="text" placeholder="Nombre(s)" name="name" ngModel #name="ngModel" required
                [ngClass]="{'border-red-500': name.invalid && (name.touched || form.submitted)}" />
              <p class="text-xs italic text-red-500" *ngIf="name.errors?.required && (name.touched || form.submitted)">El nombre es obligatorio.</p>
            </div>
            <div class="md:ml-2 md:w-1/2 w-full mb-4 ">
              <label class="block mb-2 text-sm font-bold text-gray-700" for="lastName">
                Nombre de usuario
              </label>
              <div class="flex">
                <span class="text-sm border border-2 rounded-l px-4 py-2 bg-gray-300 whitespace-no-wrap">@</span>
                <input (ngModelChange)="checkValidUsername(username.value)"
                  class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded-tr rounded-br shadow appearance-none focus:outline-none focus:shadow-outline"
                  id="username" type="text" placeholder="Nombre de usuario" name="username" ngModel #username="ngModel" 
                  required [ngClass]="{'border-red-500': username.invalid && (username.touched || form.submitted)}" />
              </div>
              <p class="text-xs italic text-red-500 mt-2" *ngIf="username.errors?.required && (username.touched || form.submitted)">El nombre de usuario es obligatorio</p>
              <p class="text-xs italic text-red-500 mt-2" *ngIf="!username.errors?.required && usernameExists == true">El nombre de usuario ya estaá en uso</p>
              
            </div>
          </div>
          <div class="md:flex">
            <div class="mb-4 md:mr-2 md:mb-0 md:w-1/2 w-full">
              <label class="block mb-2 text-sm font-bold text-gray-700" for="phone">
                Télefono
              </label>
              <div class="flex">
                <span class="text-sm border border-2 rounded-l px-4 py-2 bg-gray-300 whitespace-no-wrap">+52</span>
                <input id="phone"
                  class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded-tr rounded-br shadow appearance-none focus:outline-none focus:shadow-outline"
                  type="text" placeholder="Número de télefono (10 dígitos)" name="phone" ngModel #phone="ngModel"
                  required min="0" pattern="[0-9]{10}" maxlength="10"
                  [ngClass]="{'border-red-500': phone.invalid && (phone.touched || form.submitted)}" />
              </div>
              <p class="text-xs mt-2 italic text-red-500"
                *ngIf="phone.errors?.required && (phone.touched || form.submitted)">El télefono es obligatorio</p>
              <p class="text-xs mt-2 italic text-red-500" *ngIf="phone.errors?.pattern && (phone.touched)">Especifique un número de télefono válido</p>
            </div>
            <div class="md:ml-2 md:w-1/2 w-full mb-4">
              <label class="block mb-2 text-sm font-bold text-gray-700" for="date">
                Fecha de nacimiento
              </label>

              <input
                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                id="date" type="date" max='2021-01-01' name="birthday" ngModel #birthday="ngModel" required
                [ngClass]="{'border-red-500': birthday.invalid && (birthday.touched || form.submitted)}" />
              <p class="text-xs italic text-red-500"
                *ngIf="birthday.errors?.required && (birthday.touched || form.submitted)">Este campo es obligatorio</p>
            </div>
          </div>
          <div class="md:flex">
            <div class="mb-4 md:mr-2 md:mb-0 md:w-1/2 w-full">
              <label class="block mb-2 text-sm font-bold text-gray-700" for="firstName">
                Contraseña
              </label>
              <input
                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border border-red-500 rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                id="password" type="password" placeholder="**********" name="password" ngModel #password="ngModel"
                required minlength="6"
                [ngClass]="{'border-red-500': password.invalid && (password.touched || form.submitted)}" />
              <p class="text-xs italic text-red-500"
                *ngIf="password.errors?.required && (password.touched || form.submitted)">Especifique una contraseña</p>
              <p class="text-xs italic text-red-500" *ngIf="password.errors?.minlength && (password.dirty)">La contraseña debe tener al menos 6 carácteres</p>
            </div>
            <div class="md:ml-2 md:w-1/2 w-full mb-4">
              <label class="block mb-2 text-sm font-bold text-gray-700" for="lastName">
                Confirmar Contraseña
              </label>
              <input
                class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                id="c_password" type="password" placeholder="**********" name="c_password" ngModel #c_password="ngModel"
                required [ngClass]="{'border-red-500': c_password.invalid && (c_password.touched || form.submitted)}" />
              <p class="text-xs italic text-red-500" *ngIf="c_password.errors?.required && (c_password.touched || form.submitted)">Este campo es obligatorio</p>
              <p class="text-xs italic text-red-500" *ngIf="c_password.value != password.value && c_password.touched">Las contraseñas no coinciden</p>
            </div>
          </div>

          <div class="flex mb-3">
            <input type="checkbox"
              class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded cursor-pointer" name="terms"
              ngModel #terms="ngModel" required>
            <label class="ml-2 block text-sm text-gray-900">
              Acepto los <a class="cursor-pointer" (click)="openModal(termsAndConditions)"><u>términos y
                  condiciones</u></a>
              <p class="text-xs italic text-red-500" *ngIf="terms.invalid && form.submitted">Debe aceptar los terminos y
                condiciones para registrarse</p>
            </label>
          </div>
          <div class="flex mb-6">
            <input type="checkbox"
              class="h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-red-300 rounded cursor-pointer" name="privacy"
              ngModel #privacy="ngModel" required>
            <label class="ml-2 block text-sm text-gray-900">
              Acepto el <a class="cursor-pointer" (click)="openModal(NoticeofPrivacy)"><u>Aviso de privacidad</u></a>
              <p class="text-xs italic text-red-500" *ngIf="privacy.invalid && form.submitted">Debe aceptar el aviso de privacidad para registrarse</p>
            </label>
          </div>
          <div class="mb-6 text-center">
            <button type="submit" [disabled]="form.errors?.required"
              class="group disabled:opacity-50 relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
              <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                    clip-rule="evenodd" />
                </svg>
              </span>
              Registrar cuenta
            </button>
          </div>
          <hr class="mb-6 border-t" />
          <div class="text-grey-dark mt-6 text-center">
            ¿Ya tienes una cuenta?
            <a routerLink="/login">
              <u>Inicia sesión</u>
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
</ion-content>

