<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
     <ion-button (click)="dismiss()">
       <ion-icon slot="icon-only" name="close"></ion-icon>
     </ion-button>
    </ion-buttons>
    <ion-title>Aviso de privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare accumsan ullamcorper. Cras at massa efficitur,
  convallis diam sed, eleifend libero. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
  himenaeos. Ut ac consequat ipsum, vitae vehicula leo. Nullam ut erat eu arcu posuere pellentesque. Mauris risus lorem,
  rhoncus non viverra ut, maximus viverra justo. Praesent rhoncus, lectus a scelerisque malesuada, nisl est sagittis
  ipsum, et ornare libero justo sit amet lectus. Fusce porta, odio eu lobortis bibendum, est elit rhoncus ex, eget
  iaculis sapien odio vitae dui. Ut interdum aliquet arcu nec rutrum. Nulla luctus elit eu augue hendrerit, id iaculis
  odio molestie. Fusce bibendum sapien eget neque ullamcorper rhoncus. Praesent et accumsan mauris. Nunc sed erat eget
  ipsum porta semper egestas et leo. Cras sit amet orci eu erat rutrum molestie in eget nibh. Sed interdum enim quis
  commodo finibus. Mauris et odio quis nulla eleifend vestibulum.
</p>
<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean mollis urna sit
  amet justo tempus, eget dignissim justo fringilla. Maecenas dictum sed nulla id semper. Sed vitae orci laoreet urna
  lobortis efficitur nec nec ligula. Donec massa mi, rutrum hendrerit magna sit amet, fringilla congue magna. Nulla
  sodales finibus ante eu porttitor. Aenean porta, mauris a pulvinar lacinia, lacus dolor fringilla nisl, nec auctor
  elit velit at mi. Integer porttitor libero eu tortor vehicula accumsan. Sed dignissim accumsan urna a pharetra.
  Integer magna libero, vulputate vitae pharetra euismod, varius porta nisi. Nam sit amet vestibulum diam. Mauris mauris
  quam, feugiat placerat purus id, condimentum consequat justo.
</p>
<p>Etiam tincidunt placerat leo, a aliquam risus malesuada sit amet. Proin vestibulum magna a fermentum porta. Phasellus
  sed risus dapibus dolor sodales fringilla at at est. Nunc consectetur, ligula at ultricies mattis, arcu enim hendrerit
  velit, efficitur tincidunt risus leo consequat lacus. Donec nec nibh finibus, fringilla risus vitae, bibendum elit.
  Cras vitae libero ac nunc egestas lacinia. Ut aliquam malesuada dapibus. Phasellus lectus dolor, rutrum tempus nisi
  quis, volutpat sollicitudin dolor. Nulla aliquet leo vitae vestibulum auctor. Suspendisse lacinia et nulla dictum
  feugiat. Donec vitae urna sagittis, imperdiet lorem id, ornare eros.
</p>
<p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer convallis rhoncus justo lacinia luctus. Nam ex
  turpis, maximus eget metus a, condimentum lobortis erat. Aliquam ac quam et libero viverra posuere. Sed accumsan
  hendrerit quam, nec laoreet magna dictum suscipit. Nunc laoreet semper nisi in ullamcorper. Cras nec pharetra ligula,
  eget cursus dolor. Sed molestie est sed ex hendrerit, vel congue justo tincidunt. Pellentesque finibus laoreet neque
  fringilla congue. Nunc ut sem in magna convallis faucibus et ac ipsum. Sed erat neque, fringilla nec velit non,
  dapibus feugiat ex. Suspendisse nec purus lacus.
</p>
<p>
  Nam malesuada porttitor placerat. Integer at purus id sapien faucibus elementum. Proin vel ex sit amet sem accumsan
  vulputate at id felis. Donec semper lectus at fringilla volutpat. Cras mattis dolor vitae tempor tincidunt. Vestibulum
  dictum mi vitae risus viverra, vitae auctor justo iaculis. Ut consequat id purus in sodales. Vestibulum tincidunt eros
  libero, quis suscipit sem ultricies in. Sed et metus posuere, placerat ipsum vitae, ultrices elit. Sed interdum libero
  ac augue imperdiet, a sodales arcu tristique. Nulla facilisi. Curabitur in ipsum feugiat, maximus risus at, dapibus
  dolor.
</p>
</ion-content>
