
<ion-header>
  <header class="text-gray-600 body-font">
    <div id="header" class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row ">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">{{nameApp}}</span>
      </a>
      <button class="inline-flex items-center justify-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0" (click)="logout()">
        Cerrar sesión
        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-1" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd" />
        </svg>
      </button>
    </div>
  </header>
</ion-header>

<ion-content>
<section class="text-gray-600 body-font border-b-2 border-gray-100">
    <div class="container px-5 py-10 mx-auto">
      <div class="lg:w-2/3 flex flex-col sm:flex-row sm:items-center items-start mx-auto">
        <h1 class="flex-grow sm:pr-16 text-2xl font-medium title-font text-gray-900">Bienvenido <span class="text-purple-600">{{name}}</span></h1>
        <button class="flex-shrink-0 text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg mt-10 sm:mt-0" (click)="createTicket()">Capturar ticket</button>
      </div>
    </div>
 </section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-8 mx-auto">
    <div class="flex flex-col text-center w-full mb-10">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Estado de cuenta</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify, subway tile poke farm-to-table.</p>
    </div>
    <div class="flex flex-wrap -m-2">
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full cursor-pointer "  *ngFor="let ticket of tickets" (click)="selectedTicket = ticket;">
        <div class="h-full flex items-center border-gray-300 border-2 p-4 rounded-lg hover:bg-purple-100 hover:border-purple-300 hover:border-2">
          <img alt="team" class="w-16 h-16  object-cover object-center flex-shrink-0 mr-5" [src]="ticket.image">
          <div class="flex-grow ">
            <h2 class="text-gray-900 title-font font-medium">{{ticket.storename}}</h2>
            <p class="text-gray-500">{{ticket.total | currency}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap -m-2" *ngIf="loading">
      <div class="p-2 lg:w-1/3 md:w-1/2 w-full cursor-pointer "  *ngFor="let item of [].constructor(6)" >
        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg hover:bg-gray-100 hover:border-purple-300 hover:border-2">
          <ion-skeleton-text animated class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 mr-5"></ion-skeleton-text>
          <div class="flex-grow ">
            <h2 class="text-gray-900 title-font font-medium"><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></h2>
            <p class="text-gray-500"><ion-skeleton-text animated style="width: 10%"></ion-skeleton-text></p>
          </div>
        </div>
      </div>
    </div>
    <div class="block text-center" *ngIf="!tickets.length && !loading">
      <img class="center" width="200" src="assets/images/empty.png" alt="">
    <h2>Aún no has capturado ningún ticket</h2>
    <p>Para capturar un ticket haz click en el botón</p>
    <ion-chip class="mt-3" color="primary" (click)="createTicket()">
      <ion-icon slot="start" name="add"></ion-icon>
      <ion-label>Capturar ticket</ion-label>
    </ion-chip>
  </div>
  </div>
</section>
</ion-content>

<ion-footer>
  <footer class="text-gray-600 body-font">
    <div class="container px-5 py-2 mx-auto flex items-center sm:flex-row flex-col">
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:py-2 sm:mt-0 mt-4">© 2021 {{nameApp}} —
        <a (click)="viewTermsAndConditions()" class="ml-1 cursor-pointer" rel="noopener noreferrer">Terminos y condiciones</a>
      </p>
    </div>
  </footer>
</ion-footer>

<!-- modal -->
<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true" *ngIf="selectedTicket" (click)="selectedTicket = null;">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
    <div class="inline-block w-full align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full" (click)="$event.stopPropagation()" >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4" >
        <div class="sm:flex sm:items-start">
          <div class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-purple-100 sm:mx-0 sm:h-10 sm:w-10">
            <svg xmlns="http://www.w3.org/2000/svg"class="h-6 w-6 text-purple-600" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
            </svg>
          </div>
          <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
            <h3 class="text-lg leading-6 font-medium text-gray-900 text-center" id="modal-title">
              {{selectedTicket.storename}} - {{selectedTicket.total | currency}}
            </h3>
            <div class="mt-2">
              <img src="{{selectedTicket.image}}" class="w-full">
            </div>
          </div>
        </div>
      </div>
      <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
        <button (click)="selectedTicket = null;" type="button" class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-purple-600 text-base font-medium text-white hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
