<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
     <ion-button (click)="dismiss()">
       <ion-icon slot="icon-only" name="close"></ion-icon>
     </ion-button>
    </ion-buttons>
    <ion-title>Captura los datos de tu ticket</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div id="container">
    <form class="w-full max-w-sm" #form="ngForm" (ngSubmit)="storeTicket(form)">
      <div class="md:flex md:items-center ">
        <div class="md:w-1/3">
          <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-full-name">
           Nombre de tienda
          </label>
        </div>
        <div class="md:w-2/3">
          <input [readonly]="loading" class=" appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" id="inline-full-name" type="text"
          placeholder="Nombre de la tienda" ngModel name="store_name" #store="ngModel" required
          [ngClass]="{'border-red-500': store.invalid && (store.touched || form.submitted)}"
          >
        </div>
      </div>
      <p class="text-xs mt-2 italic text-red-500 w-full" *ngIf="store.errors?.required && (store.touched || form.submitted)">El nombre de la tienda es obligatorio</p>
      <div class="md:flex md:items-center mt-6">
        <div class="md:w-1/3">
          <label class="block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4" for="inline-password">
            Total
          </label>
        </div>
        <div class="md:w-2/3">
          <input [readonly]="loading" class=" appearance-none border-2 border-gray-300 rounded w-full py-2 px-4 text-gray-700 leading-tight focus:outline-none focus:bg-white focus:border-blue-500" id="inline-password" type="number" 
          placeholder="Total de compra" ngModel name="total" #total="ngModel" required  pattern="[0-9]{0,9}"
          [ngClass]="{'border-red-500': total.invalid && (total.touched || form.submitted)}"
          >
        </div>
      </div>
      <p class="text-xs mt-2 italic text-red-500" *ngIf="total.errors?.required && (total.touched || form.submitted)">El total es obligatorio</p>
      <p class="text-xs mt-2 italic text-red-500" *ngIf="total.errors?.pattern && (total.touched || form.submitted)">Escriba un número entre 0 y 999999999</p>
        <div class="custom-dropzone mt-6 " [ngStyle]="{'border-color':(!file && form.submitted) || (file && !imageSizeValid) || (file && !imageSizeValid) ? '#ef4444' : '' }" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
          <ngx-dropzone-label>Sube una imagen de tu ticket, arrastra o haz click para agregarla (solo formatos : JPG, PNG, GIF)</ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngIf="file" [file]="file" [removable]="true" (removed)="onRemove(file)" class="preview">
          </ngx-dropzone-image-preview>
        </div>
        <p class="text-xs mt-2 italic text-red-500" *ngIf="!file && form.submitted">la imagen del ticket es obligatoria</p>
        <p class="text-xs mt-2 italic text-red-500" *ngIf="file && !imageFormatValid">La imagen debe ser JPG, PNG o GIF</p>
        <p class="text-xs mt-2 italic text-red-500" *ngIf="file && !imageSizeValid">La imagen debe tener un tamaño menos a 2 MB</p>
      
      <button type="submit" class="group mt-6 relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4" />
          </svg>
        </span>
        <ion-spinner name="dots" color="light" *ngIf="loading"></ion-spinner>
        <span *ngIf="!loading">Guardar</span>
      </button>
    </form>
  </div>
</ion-content>
