form {
  margin: 0 auto;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.custom-dropzone {
  max-height: 200px;
  border: 5px dashed #D1D5DB;
}

:host ::ng-deep ngx-dropzone-image-preview {
  margin: 0 auto !important;
}

ion-spinner {
  width: 20px;
  height: 20px;
}
