<ion-content [fullscreen]="true">
  <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
      <div>
        <img class="mx-auto h-24 w-auto" src="assets/images/logo.svg" alt="Workflow">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900 mb-4">
          Inicia sesión en tu cuenta
        </h2>
        <p class="text-sm bold text-center text-red-500 flex justify-center	" *ngIf="errorCredentials">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          Estas credenciales no coinciden con nuestros registros
        </p>
      </div>
      <form class="mt-4 space-y-6" action="#" method="POST" #form="ngForm" (ngSubmit)="login(form)">
        <div class="rounded-md shadow-sm -space-y-px">
          <div>
            <label for="username" class="sr-only">Nombre de usuario</label>
            <input id="username" type="text" autocomplete="username" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Nombre de usuario" name="username" ngModel #username="ngModel"
              [ngClass]="{'border-red-500': username.invalid && form.submitted}">
            <p class="text-xs italic text-red-500 my-2" *ngIf="username.errors?.required && form.submitted">Por favor especifique un nombre de usuario</p>
          </div>
          <div class="relative flex w-full flex-wrap items-stretch mb-3">
            <input type="text"
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              name="password" [type]="viewPass ? 'text' : 'password'" autocomplete="current-password" ngModel
              #password="ngModel" required minlength="6" placeholder="Contraseña"
              [ngClass]="{'border-red-500': password.invalid && form.submitted}" />
            <span
              class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 right-0 pr-3 py-3"
              (click)="viewPass = !viewPass">
              <svg *ngIf="!viewPass" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500 cursor-pointer"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
              </svg>
              <svg *ngIf="viewPass" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500 cursor-pointer"
                fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
              </svg>
            </span>
          </div>
          <p class="text-xs italic text-red-500 mt-2" *ngIf="password.errors?.required && form.submitted">Especifique una contraseña</p>
          <p class="text-xs italic text-red-500" *ngIf="password.errors?.minlength && (password.touched)">La contraseña debe tener al menos 6 carácteres</p>
        </div>
        <div>
          <button type="submit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: solid/lock-closed -->
              <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"> <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" /></svg>
            </span>
            <ion-spinner name="dots" color="light" *ngIf="loading"></ion-spinner>
            <span *ngIf="!loading">Acceder</span>
          </button>
        </div>
      </form>
      <div class="text-sm text-center text-gray-900">
        ¿No tienes cuenta? <a routerLink="/register" routerDirection="root"><u>Registrate</u></a>
      </div>
    </div>
  </div>
</ion-content>
